
{% extends "layout.html" %}

{% block content %}
	<h1>Students</h1>
<div class="list-group">
	{% for student in students%}
		<!-- Trigger the modal with a button -->
<a data-toggle="modal" href="#myModal" class="list-group-item">{{ student.displayName }}</a>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content--> 
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Student Information</h4>
      </div>
      <div class="modal-body">
				<p>ID: {{ student.id }}</p>
				<p>First Name: {{ student.firstName }}</p>
				<p>Last Name: {{ student.lastName }}</p>
				<p>Display Name: {{ student.displayName }}</p>
				<p>Favorite Color: {{ student.favoriteColor }}</p>
				<p>Favorite Movie: {{ student.favoriteMovie }}</p>
				<p>Favorite Food: {{ student.favoriteFood }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

	{% endfor %}
</div>
{% endblock %}
